@import "tailwindcss";
@font-face {
  font-family: 'FuturaPT';
  src: url('/fonts/FuturaPTBook.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('/fonts/FuturaPTBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('/fonts/FuturaPTMedium.otf') format('truetype');
  font-weight: medium;
  font-style: normal;
}