@import "tailwindcss";
@font-face {
  font-family: 'FuturaPT';
  src: url('/fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaPT';
  src: url('/fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}