---
import Footer from "./footer.astro";
import Header from "./header.astro";
import Portada from "./portada.astro";
import Hero from "./hero.astro";
import Calendario from "./calendario.jsx";
import Carga from "./loadingScreen.jsx";
import Reseñas from "./reseñast.astro";
import Reseñasv from "./reseñasv.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.gif" type="image/svg+xml" />
    <title>Liceo Michoacano</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,
      body {
        width: 100%;
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>

    <Header />
    <Portada />
    <Calendario client:load/>
    <Reseñas />
    <Reseñasv />
    <Footer />
  </body>
</html>