---
import Footer from "./footer.astro";
import Header from "./header.astro";
import Portada from "./portada.astro";
import Hero from "./hero.astro";
import Calendario from "./calendario.jsx";
import Carga from "./loadingScreen.jsx";
import Resenas from "./resenast.astro";
import Resenasv from "./resenasv.astro";
import Redes from "./redes.astro";
import Pilares from "./pilares.astro";

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.gif" type="image/svg+xml" />
    <title>Liceo Michoacano</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html,
      body {
        width: 100%;
        overflow-x: hidden;
      }
    </style>
  </head>
  <body>
    <Carga client:load />
    <Header />
    <Portada />
    <Pilares />
    <Calendario client:load/>
    <Resenas />
    <Resenasv />
    <Redes />
    <Footer />
  </body>
</html>