---
import Footer from './footer.astro';
import Header from './header.astro';
import Hero   from './hero.astro';
import Calendario from './calendario.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<Header title="Header Sitio" />
		<Hero />
		<Calendario />
		<Footer />
	</body>
</html>
