<style>
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        background-image: url('https://i0.wp.com/primeraplana.mx/wp-content/uploads/2020/10/73417d3c-cacf-4058-9249-a62ae5e470f3.jpg?fit=1280%2C751&ssl=1');
        font-family: 'Arial', sans-serif;
        font-size: 2rem;
    }
    section h1 {
color: #000;
        padding: 1rem 2rem;
        border-radius: 8px;
    }
</style>
<section>
    <h1>
        Portada
    </h1>
</section>