---
interface Props {
  href?: string;
  title: string;
  subtitle?: string;
  as?: 'a' | 'button' | 'div';
  class?: string;
}

const { href = '#', title, subtitle, as = 'a' } = Astro.props;
const Tag = as;
---

<Tag
  href={as === 'a' ? href : undefined}
  class:list={[
    'group mb-2 shadow-xl border border-white/15 relative flex items-center gap-x-4 rounded-xl p-4 hover:bg-white/5 focus:bg-white/5 focus:outline-none',
    Astro.props.class,
  ]}
>
  <span class="flex size-10 flex-none items-center justify-center rounded-lg bg-[#5b73b0] group-hover:bg-blue-500 text-white">
    <slot name="icon" />
  </span>

  <span class="flex-auto">
    <span class="block font-semibold text-white text-lg">
      {title}
    </span>
    {subtitle && (
      <span class="block mt-0.5 text-base text-gray-300">
        {subtitle}
      </span>
    )}
  </span>
</Tag>
