---
interface Props {
  href?: string;
  title: string;
  subtitle?: string;
  as?: 'a' | 'button' | 'div';
  class?: string;
}

const { href = '#', title, subtitle, as = 'a' } = Astro.props;
const Tag = as;
---

<Tag
  href={as === 'a' ? href : undefined}
  class:list={[
    'group flex items-center gap-x-6 rounded-2xl p-1',
    'hover:bg-white/5 focus:outline-none',
    'shadow-xl border border-white/15',
    Astro.props.class,
  ]}
>
  <span class="flex items-center justify-center w-10 h-10 md:w-15 md:h-15 rounded-xl bg-[#5b73b0] group-hover:bg-blue-500">
    <slot name="icon" />
  </span>

  <span class="text-left">
    <span class="block font-semibold text-white text-sm md:text-lg leading-tight">
      {title}
    </span>
    {subtitle && (
      <span class="block text-sm md:text-lg text-gray-300 leading-snug">
        {subtitle}
      </span>
    )}
  </span>
</Tag>
